public-f net.minecraft.client.renderer.BlockRendererDispatcher field_175025_e # fluidRenderer
public net.minecraft.client.renderer.entity.RenderLivingBase field_77045_g # mainModel
public net.minecraft.entity.EntityLivingBase field_184622_au # swingingHand
public net.minecraft.client.renderer.WorldRenderer field_175008_n # viewFrustum
public net.minecraft.client.renderer.chunk.ChunkRenderDispatcher$ChunkRender field_178593_n # needsUpdate
public net.minecraft.tileentity.TileEntityChest field_145987_o # numPlayersUsing
public net.minecraft.entity.EntityLiving field_70699_by # navigator
public net.minecraft.entity.EntityLiving field_110170_bx # leashNBTTag
public net.minecraft.entity.EntityLiving func_110165_bF()V # recreateLeash
public net.minecraft.entity.Entity field_71088_bW # timeUntilPortal
public net.minecraft.entity.boss.EntityDragon func_82195_e(Lnet/minecraft/util/DamageSource;F)Z # attackDragonFrom
public net.minecraft.entity.Entity field_70174_ab # fire
public net.minecraft.world.World func_180442_a(IZDDDDDD[I)V # spawnParticle
public net.minecraft.entity.item.EntityFireworkRocket field_92055_b
public net.minecraft.entity.item.EntityFireworkRocket field_191513_e
public-f net.minecraft.entity.item.EntityFireworkRocket field_191512_b

# HEI/JEI compatibility (merged from jei_at.cfg; initMissingImage must be public for cross-package use)
public net.minecraft.client.renderer.RenderItem func_191965_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;I)V # renderModel
public net.minecraft.client.renderer.RenderItem func_191961_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;Lnet/minecraft/item/ItemStack;)V # renderModel
public net.minecraft.client.renderer.texture.TextureMap field_94252_e # mapUploadedSprites
public net.minecraft.client.renderer.texture.TextureMap field_94258_i # listAnimatedSprites
public net.minecraft.client.renderer.texture.TextureMap field_94249_f # missingImage
public net.minecraft.client.renderer.texture.TextureMap field_94254_c # basePath
public net.minecraft.client.renderer.texture.TextureMap field_110574_e # mapRegisteredSprites
public net.minecraft.client.renderer.texture.TextureMap func_110569_e()V # initMissingImage
public net.minecraft.client.gui.recipebook.GuiRecipeBook field_191904_o # width
public net.minecraft.client.gui.recipebook.GuiRecipeBook field_191905_p # height
public net.minecraft.client.gui.recipebook.GuiRecipeBook field_191903_n # xOffset
public net.minecraft.client.gui.recipebook.GuiRecipeBook field_193018_j # recipeTabs
public net.minecraft.item.crafting.Ingredient field_193371_b # matchingStacks
